<script language="JavaScript">
$(document).ready(function() {
    $('#jmenu').jmenu();
});
</script>
<ul id="jmenu">
  <li><%= link_to "Index", root_url %></li>
  <% if current_user %>
    <% if current_user.admin? %>
      <li><%= link_to "Usuarios", users_path %></li>
    <% end %>
    <% if ((can? :read, School) || (can? :new, School)) && !current_user.admin? %>
      <li>
	<%= link_to "Niveles", schools_path %>
	<ul>
	  <% School.where(:owner_id => current_user).each do |school| %>
            <li>
	      <%= link_to school.name, school %>
	      <ul>
	        <% if can? :read, school => User %>
	          <li><%= link_to "Usuarios", school_users_path(school) %></li>
	        <% end %>
		<% if can? :read, school => Student %>
		  <li><%= link_to "Estudiantes", school_students_path(school) %></li>
		<% end %>
		<% if can? :read, school => Subject %>
		  <li><%= link_to "Materias", school_subjects_path(school) %></li>
		<% end %>
		<% if can? :read, school => Group %>
		  <li><%= link_to "Grupos", school_groups_path(school) %></li>
		<% end %>
	      </ul>
	    </li>
	  <% end %>
	</ul>
      </li>
    <% end %>
    <% if can? :index, Package %>
      <li><%= link_to "Paquetes", packages_path %></li>
    <% end %>
    <li><%= link_to "Log Out", logout_path %></li>
  <% else %>
    <li><%= link_to "Sign Up", signup_path %></li>
    <li><%= link_to "Login", login_path %></li>
  <% end %>
  <% if !current_user.nil? %>
    <div style="float:right;padding:10px 15px;">
      Bienvenido, <%= current_user.first_name %> <%= current_user.last_name %>!
    </div>
  <% end %>
</ul>
