<% title "Expediente de Estudiante" %>
<center>
  <h2>Alumno: <%= @student.first_name %> <%= @student.last_name %></h2>
  <p>
    <% if can? :update, @student %>
      <%= link_to "Editar", edit_school_student_path(@student.school,@student) %> |
    <% end %>
    <% if can? :destroy, @student %>
      <%= link_to "Eliminar", [@student.school,@student], :confirm => 'Are you sure?', :method => :delete %> |
    <% end %>
    <% if can? :index, Student, :school_id => @student.school_id %>
      <%= link_to "Ver Todos", school_students_path %>
    <% end %>
  </p>
</center>
<%= image_tag @student.avatar.url, :style => "float:left;padding:5px 10px;", :height => 200 %>
<p>
  <strong>Nivel:</strong>
  <%= @student.school.name %>
</p>
<p>
  <strong>Matr&iacute;cula:</strong>
  <%= @student.registration_number %>
</p>
<p>
  <strong>Tel&eacute;fono de Casa:</strong>
  <%= number_to_phone(@student.home_phone) %>
</p>
<p>
  <strong>Tel&eacute;fono Celular:</strong>
  <%= number_to_phone(@student.cell_phone) %>
</p>
<p>
  <strong>Direcci&oacute;n:</strong>
  <%= @student.street_name %> <%= @student.street_number %>, <%= @student.district %>
</p>
<p>
  <strong>Ciudad y Estado:</strong>
  <%= @student.city %>, <%= @student.state %>
</p>
<p>
  <strong>Pa&iacute;s:</strong>
  <%= @student.country %>
</p>
<p>
  <strong>Direcci&oacute;n:</strong>
  <%= @student.street_name %> <%= @student.street_number %>, <%= @student.district %>
</p>
<p>
  <strong>Notas:</strong>
  <%= @student.notes.html_safe %>
</p>
