<% title "Registrar Usuario" %>

<%= form_for [@school,@user] do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :username, "Usuario" %>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password, "Contrasena" %>
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, "Confirmar Contrasena" %>
    <%= f.password_field :password_confirmation %>
  </div>
  <% if (!@school.nil? && @school.owner == current_user) || (current_user.nil? && current_user.admin?) %>
    Escoje un tipo de cuenta: <br />
    <%= f.check_box :teacher %>
    <%= f.label :teacher, 'Profesor' %><br />
    <%= f.check_box :assistant %>
    <%= f.label :assistant, 'Asistente' %><span></span><br />
  <% end %>
  <div class="field">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :first_name, "Nombre(s)" %>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name, "Apellido(s)" %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :home_phone, "Telefono de Casa" %>
    <%= f.text_field :home_phone %>
  </div>
  <div class="field">
    <%= f.label :office_phone, "Telefono de Oficina" %>
    <%= f.text_field :office_phone %>
  </div>
  <div class="field">
    <%= f.label :cell_phone, "Telefono Celular" %>
    <%= f.text_field :cell_phone %>
  </div>
  <div class="field">
    <%= f.label :address, "Direccion" %>
    <%= f.text_area :address %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>
