<% title "Subjects" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for subject in @subjects %>
    <tr>
      <td><%= subject.name %></td>
      <td><%= link_to "Show", subject %></td>
      <td><%= link_to "Edit", edit_subject_path(subject) %></td>
      <td><%= link_to "Destroy", subject, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Subject", new_subject_path %></p>
