<% title "Teachers" %>

<table>
  <tr>
    <th>School</th>
    <th>User</th>
  </tr>
  <% for teacher in @teachers %>
    <tr>
      <td><%= teacher.school_id %></td>
      <td><%= teacher.user_id %></td>
      <td><%= link_to "Show", [teacher.school,teacher] %></td>
      <td><%= link_to "Edit", edit_school_teacher_path(teacher.school,teacher) %></td>
      <td><%= link_to "Destroy", [teacher.school,teacher], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<% if can? :create, @school => Teacher %>
<p><%= link_to "New Teacher", new_school_teacher_path %></p>
<% end %>
