<h1>Listing teachers</h1>

<table>
  <tr>
    <th>Account</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Telephone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @teachers.each do |teacher| %>
  <tr>
    <td><%= teacher.user_id %></td>
    <td><%= teacher.first_name %></td>
    <td><%= teacher.last_name %></td>
    <td><%= teacher.email %></td>
    <td><%= teacher.telephone %></td>
    <td><%= link_to 'Show', user_teacher_path(@user,teacher) %></td>
    <td><%= link_to 'Edit', edit_user_teacher_path(@user,teacher) %></td>
    <td><%= link_to 'Destroy', user_teacher_path(@user,teacher), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Teacher', new_user_teacher_path(@user) %>
