<% title "Teacher" %>

<p>
  <strong>School:</strong>
  <%= @teacher.school_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @teacher.user_id %>
</p>

<p>
  <%= link_to "Edit", edit_school_teacher_path(@teacher.school,@teacher) %> |
  <%= link_to "Destroy", [@teacher.school,@teacher], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", school_teachers_path %>
</p>
