<p id="notice"><%= notice %></p>

<p>
  <b>Account:</b>
  <%= @teacher.user %>
</p>

<p>
  <b>First name:</b>
  <%= @teacher.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @teacher.last_name %>
</p>

<p>
  <b>Email:</b>
  <%= @teacher.email %>
</p>

<p>
  <b>Telephone:</b>
  <%= @teacher.telephone %>
</p>


<%= link_to 'Edit', edit_user_teacher_path(@teacher) %> |
<%= link_to 'Back', user_teachers_path %>
