
<% title "Niveles" %>

<table id="box-table-a">
  <thead>
    <% if can? :create, School %>
      <tr>
	<td colspan="100">
	  <%= link_to image_tag("add.png",:height => 14), new_school_path  %>
  	  <%= link_to "Nuevo Nivel", new_school_path %>
	</td>
      </tr>
    <% end %>
    <tr>
      <th width=200>Name</th>
      <th>Country</th>
      <th>Telephone</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% for school in @schools %>
      <tr>
        <td><%= link_to school.name, school %></td>
        <td><%= school.country %></td>
        <td><%= number_to_phone(school.telephone) %></td>
        <td>
	  <% if can? :update, school %>
	    <%= link_to image_tag("edit.png",:height => 20), edit_school_path(school) %>
	  <% end %>
	  <% if can? :destroy, school %>
	    <%= link_to image_tag("delete.png", :height => 20), school_path(school), :confirm => 'Are you sure?', :method => :delete %>
	  <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
