<% title @school.name %>

<center>
  <p>
    <%= link_to "Editar", edit_school_path(@school) %> |
    <%= link_to "Eliminar", @school, :confirm => 'Estas seguro?', :method => :delete %> |
    <%= link_to "Ver Todos", schools_path %>
  </p>
</center>

<br/><br/>
<script>
  $(function() {
    $( "#tabs" ).tabs();
  });
</script>

<div id="tabs">
  <ul>
    <li><a href="#tab-info">Informacion</a></li>
    <li><a href="#tab-users">Usuarios</a></li>
    <li><a href="#tab-students">Estudiantes</a></li>
  </ul>
  <div id="tab-info">
    Tel&eacute;fono: <%= number_to_phone(@school.telephone, :area_code => true) %><br/>
    Direcci&oacute;n: <%= @school.address %><br/>
    Pa&iacute;s: <%= @school.country %><br/>
    C&oacute;digo Postal: <%= @school.zip_code %><br/>

    <div id="map_canvas" style="width: 500px; height: 300px"></div>
    <script>showMapAddress("<%= @school.address %>, <%= @school.zip_code %>, <%= @school.country %>");</script>
  </div>
  <div id="tab-users">
    <% @users = @school.users.page().per(10) %>
    <%= render :template => "users/index" %>
  </div>
  <div id="tab-students">
    <% @students = @school.students %>
    <%= render :template => "students/index" %>
  </div>
</div>
