<%= form_for [@group.school,@group,@activity] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.number_field :value %>
  </p>
  <p><%= f.submit %></p>
<% end %>
